In [5]:
import urllib
import os
import tarfile
import matplotlib.pyplot as plt

In [9]:
DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml/master/"
HOUSING_PATH = "datasets/housing"
HOUSING_URL = DOWNLOAD_ROOT + HOUSING_PATH + "/housing.tgz"

In [10]:
def fetch_housing_data(housing_url=HOUSING_URL,housing_path=HOUSING_PATH):
    if not os.path.isdir(housing_path):
        os.makedirs(housing_path)
    tgz_path=os.path.join(housing_path,'housing.tgz')
    
    urllib.request.urlretrieve(housing_url,tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path)
    housing_tgz.close()

In [11]:
fetch_housing_data()

In [12]:
import pandas as pd
def load_data_housing(housing_path=HOUSING_PATH):
    path=os.path.join(housing_path,'housing.csv')
    return pd.read_csv(path)

In [13]:
housing=load_data_housing()
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [14]:
housing['income_cat'] = np.ceil(housing['median_income']/1.5)
housing['income_cat']=np.where(housing['income_cat']<5,housing['income_cat'],5)
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,income_cat
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,5.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,5.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,5.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,4.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,3.0
...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,2.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,2.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND,2.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,2.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,2.0

# 划分训练集测试集

In [15]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)

for train_id,test_id in split.split(housing,housing['income_cat']):
    strated_train_set=housing.loc[train_id]
    strated_test_set = housing.loc[test_id]

In [16]:
for set in (strated_train_set,strated_test_set):
    set.drop(['income_cat'],axis=1,inplace=True)

In [17]:
housing=strated_train_set.copy()

# EDA
略

# 数据准备
填充缺失值，矢量化，标准化

In [18]:
housing = strated_train_set.drop("median_house_value", axis=1)
housing_labels = strated_train_set["median_house_value"].copy()

In [19]:
housing['population'].value_counts()

1227.0    21
753.0     20
1005.0    20
761.0     19
891.0     19
          ..
3403.0     1
4729.0     1
2486.0     1
3671.0     1
2168.0     1
Name: population, Length: 3619, dtype: int64

In [20]:
from sklearn.impute import SimpleImputer as Imputer
imputer = Imputer(np.nan,strategy='median')

In [21]:
housing_num=housing.drop('ocean_proximity',axis=1)
imputer.fit_transform(housing_num)
housing_num

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
17606,-121.89,37.29,38.0,1568.0,351.0,710.0,339.0,2.7042
18632,-121.93,37.05,14.0,679.0,108.0,306.0,113.0,6.4214
14650,-117.20,32.77,31.0,1952.0,471.0,936.0,462.0,2.8621
3230,-119.61,36.31,25.0,1847.0,371.0,1460.0,353.0,1.8839
3555,-118.59,34.23,17.0,6592.0,1525.0,4459.0,1463.0,3.0347
...,...,...,...,...,...,...,...,...
6563,-118.13,34.20,46.0,1271.0,236.0,573.0,210.0,4.9312
12053,-117.56,33.88,40.0,1196.0,294.0,1052.0,258.0,2.0682
13908,-116.40,34.09,9.0,4855.0,872.0,2098.0,765.0,3.2723
11159,-118.01,33.82,31.0,1960.0,380.0,1356.0,356.0,4.0625
15775,-122.45,37.77,52.0,3095.0,682.0,1269.0,639.0,3.5750

处理标签部分

In [22]:
housing_cat=pd.get_dummies(housing['ocean_proximity'])
housing_cat

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
17606          1       0       0         0           0
18632          1       0       0         0           0
14650          0       0       0         0           1
3230           0       1       0         0           0
3555           1       0       0         0           0
...          ...     ...     ...       ...         ...
6563           0       1       0         0           0
12053          0       1       0         0           0
13908          0       1       0         0           0
11159          1       0       0         0           0
15775          0       0       0         1           0

[16512 rows x 5 columns]

In [23]:
from sklearn.base import BaseEstimator, TransformerMixin
rooms_ix, bedrooms_ix, population_ix, household_ix = 3, 4, 5, 6

class CombinedAttributesAdder(BaseEstimator,TransformerMixin):
    def __init__(self,add_bedrooms_per_room = True):
        self.add_bedrooms_per_room = add_bedrooms_per_room
    def fit(self,X,y=None):
        return self
    def transform(self,X,y=None):
        rooms_per_household = X[:,rooms_ix]/X[:,household_ix]
        population_per_household = X[:,population_ix]/X[:,household_ix]
        if self.add_bedrooms_per_room:
            bedrooms_per_room = X[:, bedrooms_ix] / X[:, rooms_ix]
            return np.c_[X, rooms_per_household, population_per_household,
                         bedrooms_per_room]
        else:
            return np.c_[X, rooms_per_household, population_per_household]
    
attr_adder = CombinedAttributesAdder(add_bedrooms_per_room=False)
housing_extra_attribs = attr_adder.transform(housing.values)

In [24]:
from sklearn.base import BaseEstimator,TransformerMixin
class SelectfromDataframe(BaseEstimator,TransformerMixin):
    def __init__(self,atrrname):
        self.atrrname=atrrname
    def fit(self,X,y=None):
        return self
    def transform(self,X):
        return X[self.atrrname].values

In [25]:
class Label2dummies(BaseEstimator,TransformerMixin):
    def __init__(self,atrrname):
        self.atrrname=atrrname
    def fit(self,X,y=None):
        return self
    def transform(self,X):
        return pd.get_dummies(X[self.atrrname])

融合管道

In [26]:
from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.preprocessing import StandardScaler

num_attribs = list(housing_num)
cat_attribs = ["ocean_proximity"]

In [27]:
num_pipe=Pipeline([
    ('selector',SelectfromDataframe(num_attribs)),
    ('imputer',Imputer(strategy='median')),
    ('atrrs_adder',CombinedAttributesAdder()),
    ('std_scaler',StandardScaler())
])

cat_pipe=Pipeline([
    ('label2dummies',Label2dummies(cat_attribs))
])

full_pipe=FeatureUnion(transformer_list=[
    ('num_pipe',num_pipe),
    ('cat_pipe',cat_pipe)
])

In [28]:
housing_prepared=full_pipe.fit_transform(housing)
pd.DataFrame(housing_prepared)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,-1.156043,0.771950,0.743331,-0.493234,-0.445438,-0.636211,-0.420698,-0.614937,-0.312055,-0.086499,0.155318,1.0,0.0,0.0,0.0,0.0
1,-1.176025,0.659695,-1.165317,-0.908967,-1.036928,-0.998331,-1.022227,1.336459,0.217683,-0.033534,-0.836289,1.0,0.0,0.0,0.0,0.0
2,1.186849,-1.342183,0.186642,-0.313660,-0.153345,-0.433639,-0.093318,-0.532046,-0.465315,-0.092405,0.422200,0.0,0.0,0.0,0.0,1.0
3,-0.017068,0.313576,-0.290520,-0.362762,-0.396756,0.036041,-0.383436,-1.045566,-0.079661,0.089736,-0.196453,0.0,1.0,0.0,0.0,0.0
4,0.492474,-0.659299,-0.926736,1.856193,2.412211,2.724154,2.570975,-0.441437,-0.357834,-0.004194,0.269928,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16507,0.722267,-0.673331,1.379547,-0.632123,-0.725361,-0.759010,-0.764049,0.554158,0.234352,-0.031755,-0.428853,0.0,1.0,0.0,0.0,0.0
16508,1.007011,-0.823004,0.902385,-0.667196,-0.584183,-0.329664,-0.636291,-0.948815,-0.308114,0.084689,0.491503,0.0,1.0,0.0,0.0,0.0
16509,1.586489,-0.724781,-1.562952,1.043901,0.822735,0.607904,0.713156,-0.316705,0.346934,-0.030554,-0.521776,0.0,1.0,0.0,0.0,0.0
16510,0.782213,-0.851068,0.186642,-0.309919,-0.374849,-0.057178,-0.375451,0.098121,0.024995,0.061509,-0.303407,1.0,0.0,0.0,0.0,0.0
16511,-1.435791,0.996459,1.856709,0.220853,0.360253,-0.135159,0.377791,-0.157799,-0.228529,-0.095863,0.101806,0.0,0.0,0.0,1.0,0.0

# 模型定义与训练

In [29]:
from sklearn.svm import SVR
clf=SVR()


- C 
- kernel 'linear', 'poly', 'rbf', 'sigmoid', 'precomputed'

RandomizedSearchCV(
    estimator,
    param_distributions,
    n_iter=10,
    scoring=None,
    n_jobs=None,
    iid='deprecated',
    refit=True,
    cv=None,
    verbose=0,
    pre_dispatch='2*n_jobs',
    random_state=None,
    error_score=nan,
    return_train_score=False,
)

In [32]:
from sklearn.model_selection import RandomizedSearchCV
params={
    'C':[0.01,0.1,1,10,100,1000],
    'kernel':['linear','poly','rbf','sigmoid']
}

params_search = RandomizedSearchCV(clf,params,scoring='neg_mean_squared_error',cv=5)

In [33]:
params_search.fit(housing_prepared,housing_labels)

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3,
                                 epsilon=0.1, gamma='scale', kernel='rbf',
                                 max_iter=-1, shrinking=True, tol=0.001,
                                 verbose=False),
                   iid='deprecated', n_iter=10, n_jobs=None,
                   param_distributions={'C': [0.01, 0.1, 1, 10, 100, 1000],
                                        'kernel': ['linear', 'poly', 'rbf',
                                                   'sigmoid']},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='neg_mean_squared_error',
                   verbose=0)

In [34]:
print(params_search.best_params_)
print(np.sqrt(-params_search.best_score_))
clf=params_search.best_estimator_
clf

{'kernel': 'linear', 'C': 100}
71603.17710755806

SVR(C=100, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [42]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import expon,reciprocal

params_distrib={
    'kernel':['linear','rbf'],
    'C':reciprocal(20, 200000),
    'gamma': expon(scale=1.0),
}

In [44]:
svm_reg = SVR()
rnd_search = RandomizedSearchCV(svm_reg, param_distributions=params_distrib,
                                n_iter=50, cv=5, scoring='neg_mean_squared_error',
                                verbose=2, n_jobs=4, random_state=42)
rnd_search.fit(housing_prepared, housing_labels)

Fitting 5 folds for each of 50 candidates, totalling 250 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:  1.8min
D:\zhengjing\Anaconda3\lib\site-packages\joblib\externals\loky\process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed: 12.8min

KeyboardInterrupt:

# 模型评估

In [102]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(clf,housing_prepared,housing_labels,scoring='neg_mean_squared_error',cv=5)
np.sqrt(-score)

array([82523.29389342, 84112.2759816 , 86020.51768556, 84028.00912106,
       86524.5916677 ])